/** @format */

body {
    position: relative;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 1170px;
}

.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
}
.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.header-burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #74d6d5;
}
.header-burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header-burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}
.navbar.open .header-burger-btn span {
    background-color: #f4f6f7;
}
.navbar.open .header-burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}
.navbar.open .header-burger-btn span:nth-child(2) {
    opacity: 0;
}
.navbar.open .header-burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}
.header-burger-btn span:nth-child(3) {
    transform: translateY(10px);
}
.navbar-menu li {
    display: inline-block;
}
.navbar-menu li a {
    display: inline-block;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #37536b;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 20px 32px 20px;
    padding: 5px 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 22px;
    transition: border 0.2s linear;
}
.navbar-menu li a:hover {
    border: 2px solid #74d6d5;
    border-radius: 22px;
    transition: border 0.2s linear;
}
/* Постоянная граница вокруг кнопок меню
.navbar-menu-border {
    border: 2px solid #74d6d5;
    border-radius: 22px;
} */
.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}
.navbar-brand {
    width: 900;
    font-size: 26px;
    text-decoration: none;
    color: #74d6d5;
}

.callback-block {
    height: 210px;
}
.callback-block .container {
    height: 210px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    font-size: 17px;
}
.callback-block p {
    width: 730px;
    font-size: 22px;
}
.callback-btn {
    color: white;
    font-weight: 700;
    background-color: #74d6d5;
    border: none;
    width: 180px;
    height: 55px;
    border-radius: 50px;
    transition: 0.15s;
}
.callback-btn:hover {
    background-color: #263949;
    transition: 0.15s;
}

.services-preview {
    height: 715px;
    background-color: white;
    display: flex;
}
.services-preview .container {
    height: 535px;
    display: flex;
    align-items: center;
    max-width: 1170px;
    background-color: white;
}
.services-preview-item-1,
.services-preview-item-2,
.services-preview-item-3 {
    height: 545px;
    width: 370px;
    box-sizing: border-box;
}
.services-preview-item-photo {
    position: relative;
    margin: 10px;
}
.services-preview-item-photo-img {
    height: 230px;
    width: 350px;
}
.services-preview-item-text {
    padding: 15px 30px 30px 30px;
}
.services-preview-item-name {
    font-size: 22px;
    height: 50px;
}
.services-preview-item-price {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 900;
}
.services-preview-item-description {
    margin-top: 15px;
    font-size: 17px;
}
.services-preview-item-btn {
    color: #263949;
    font-weight: 700;
    background-color: #74d6d5;
    border: none;
    width: 150px;
    height: 53px;
    border-radius: 50px;
    transition: 0.15s;
    margin-top: 30px;
    border: 2px solid rgba(255, 255, 255, 0);
}
.services-preview-item-btn:hover {
    background-color: white;
    transition: 0.15s;
    border-color: black;
}

.portfolio {
    height: 868px;
    background-color: #f4f6f7;
    display: flex;
}
.portfolio .container {
    width: 1140px;
    height: 696px;
    margin-top: 80px;
    align-items: center;
}
.portfolio-name {
    width: inherit;
    height: 80px;
    text-align: center;
}
.portfolio-name-text {
    font-size: 40px;
    width: inherit;
}
.portfolio-photos {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    height: 558px;
    margin-left: 8px;
}
.portfolio-photo-item {
    box-sizing: border-box;
    padding: 0 6px 6px 6px;
    height: 279px;
    width: 279px;
}
.portfolio-photo-item img {
    height: 273px;
    width: 273px;
}

.about-me {
    height: 700px;
    background-color: #f4f6f7;
    display: flex;
}
.about-me .container {
    width: 1140px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.about-me-text {
    width: 550px;
    margin-top: 160px;
}
.about-me img {
    width: 350px;
}

.modal-about-me.show {
    visibility: visible;
    z-index: 100;
    opacity: 1;
}
.modal-about-me {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.09s ease-out;
}
.modal-about-me-window {
    position: relative;
    z-index: 2;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.4);
    background-color: #fff;
    padding: 20px;
    transition: inherit;
}
.modal-about-me-window h1 {
    margin: 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #2f2f2f;
    z-index: 0;
}
.modal-about-me-close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    background-color: #74d6d5;
    align-items: center;
}
.modal-about-me-close span:first-child {
    position: absolute;
    width: 25px;
    height: 3px;
    left: 2.5px;
    background-color: #fff;
    rotate: 45deg;
}
.modal-about-me-close span:last-child {
    position: absolute;
    width: 25px;
    height: 3px;
    left: 2.5px;
    background-color: #fff;
    rotate: -45deg;
}
.modal-about-me-link-instp {
    width: 61px;
    height: 61px;
}
.modal-about-me-link-tgp {
    width: 44px;
    height: 44px;
    margin: 8px;
}
.modal-about-me-link-wsp{
    width: 44px;
    height: 44px;
    margin: 8px;
}
.modal-about-me-link-block {
    display: flex;
    align-items: center;
}
.modal-about-me-link{
    text-decoration: none;
    color: #2f2f2f;
    font-weight: 900;
    font-size: 20px;
}
.modal-about-me-link:hover{
    color: #000000;
}
